@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

body {
  background-color: #4d0002;
}

@theme {
  --color-primary: #4d0002;
  --color-secondary: #e2852e;
  --color-tertiary: #c0c0c0;
  --color-quaternary: #e0e0e0;
  --color-quinary: #f0f0f0;
}

@layer base {
  .container-x {
    @apply mx-3 lg:mx-30;
  }
}
